<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.domain.operationrobot">

  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:name=".BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:allowBackup">
    <activity android:name=".app.login.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    //创建用户
    <activity android:name=".app.password.AccountActivity"/>
    //用户协议
    <activity android:name=".app.UserServiceProtocolActivity"/>
    //注册成功
    <activity android:name=".app.company.RegisterSussActivity"/>
    //加入公司
    <activity android:name=".app.company.JoinCompanyActivity"/>
    //忘记密码
    <activity android:name=".app.password.ForgetPwdActivity"/>
    //修改密码
    <activity android:name=".app.password.ModifyPwdActivity"/>
    //修改手机号
    <activity android:name=".app.password.ModifyPhoneActivity"/>
    //修改用户姓名
    <activity android:name=".app.password.ModifyUserNameActivity"/>
    //验证密码
    <activity android:name=".app.password.VerifyPwdActivity"/>
    //加入公司
    <activity android:name=".app.company.ApplyActivity"/>
    //完善企业资料
    <activity android:name=".app.company.CreateCompanyActivity"/>
    //编辑运维用户和添加运维用户
    <activity android:name=".app.operation.OperationActivity"/>
    //用户个人资料
    <activity android:name=".app.setting.UserInfoActivity">
    </activity>
    //用户申请页面
    <activity android:name=".app.company.UserApplyActivity"/>
    //首页
    <activity
        android:name=".app.home.MainActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:launchMode="singleTask"
        android:windowSoftInputMode="stateHidden|adjustResize">
    </activity>
    //运维用户管理
    <activity android:name=".app.operation.OperationManagerActivity">
    </activity>

    <!-- <meta-data android:name="com.domain.library.MyAppGlideModule" -->
    <!-- android:value="GlideModule"/> -->
    //服务器列表监控页面
    <activity android:name=".app.home.server.ServerMonitorActivity">
    </activity>
  </application>

</manifest>